.starred-container {
  height: 78vh;
  flex: 6;
  margin: 24px 24px 12px 12px;
  padding: 16px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 3px 3px 0 rgba(59,59,88,.15);
  border: 1px solid #e1e2e3;
  display: inline-block;
  overflow-x: scroll;
}

.starred-header {
  color: rgb(91, 91, 91);
  font-weight: 400;
  margin: 10px 10px 16px 10px;
}
