.influencer-instagram {
  font-size: 12px;
  color: rgb(153, 153, 153);
  width: 90%;
  margin: 0px 0px 0px 10px;
}

.influencer-instagram-link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: inherit;
  align-items: center;
}

.influencer-username {
  margin: 0px 0px 0px 5px;
}

.instagram-logo {
  height: 12px;
  width: 12px;
}
