.starred-list-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  height: 95%;
  position: relative;
  overflow-x: scroll;
  border: 1px solid #e1e2e3;
  border-radius: 5px;
  padding: 5px;
}
